.Chip {
    width: 75px;
    height: 75px;
    position: absolute;
    border-radius: 100%;
    border: 5px solid black;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75px
}