.TeamSelector {
    text-align: center;
    border: 3px solid #E1E1E1;
    border-radius: 1rem;
}

.TeamSelector ul {
    list-style: none;
    padding: 1rem;
}

.TeamSelector ul li {
    margin: .5rem 0;
}